body{
    background-color: #fff;
    }
.wel{
    float: left;
}
.icon{
float: right;
    margin-right: 70px;
    margin-top: -150px;
}
.icon li{
    display: inline-block;
    padding-right: 40px;
}
.icon-big{
    font-size: 30px;
}
.hello{
    font-size: 20px;
    color:#2c3e50;
}
.icon li a{
    text-decoration: none;
    
}
.sign{
    float: right;
    margin-right: 50px;
    font-size: 20px;
}
.icon li a:link,
.icon li a:visited{
    color: #2c3e50;
    transition: 0.2s solid transparent;
}

.icon li a:active,
.icon li a:hover{
    color:#16a085;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.int-list{
    padding-top: 40px;
    list-style: none; 
}
.int-list li a{
    background-color: #2ecc71;
    text-decoration: none;
    display: inline-block;
    float: left;
    color: #fff;
    padding: 0px 65px;
    font-size: 25px;
    
}
.int-list li a:link,
.int-list li a:visited{
    color: #fff;
    text-decoration: none;
    transition: 0.2s solid transparent;
}

.int-list li a:active,
.int-list li a:hover{
    color: #fff;
}

input[type="text"], input[name="search"]{
    float: right;
    margin-top:   50px;
    margin-right: 110px;
    text-align: center;
}
.list{
    padding-top: 20px;
    list-style: none;
    margin-top: 70px;
}
.list li{
    padding-bottom: 30px;
    margin-left: 50px;
}
.list li a{
    text-decoration: none; 
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    color: #fff;
    background-color:#2ecc71; 
}
.list li a:link,
.list li a:visited{
    transition: background-color 0.2s;
}

.list li a:hover,
.list li a:active{
    background-color: #16a085; 
}
.inside{
    margin-top:60px;
    width: 900px;
    height: 400px;
    background-color:#7cb342;
    margin-left: 60px;
    border-color: black;
    padding-bottom: 5px;
}
.inside li{
    list-style: none;
    color: #fff;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-left: 10px;
}
.inside li a{
    color: #fff;
    text-decoration: none;
}
.inside li a:hover,
.inside li a:active{
    border-color:#2c3e50; 
    background-color: #16a085; 
}

.inside-box{
    margin-top:-365px;
    width: 550px;
    height: 300px;
    background-color:#aed581;
    margin-left: 350px;
    border-color: black;
    padding-bottom: 5px;
    border-color:#aed581; 
}
.inside-box li{
    list-style: none;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 35px;
    margin-left: 10px;
    
}
.inside-box li a{
    border: 1px solid black;
    border-radius: 5px;
    color:#fff;
    text-decoration: none;
    background-color: #2ecc71;
    padding: 5px 5px 5px 5px;
    
}
.inside-box li a:hover,
.inside-box li a:active{
    border-color:#2c3e50; 
    background-color: #16a085; 
}
.leg{
    font-size:18px;
}