.section-features{
    margin-left: 25px;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/compnay.jpeg);
    background-size: cover;
    height: 100vh;
}

h3{
   color:#fff;
    font-size: 18px;
}
.box{
    color: #fff;
    line-height: 25px;
    font-size: 15px;
    word-spacing: 1px;
    text-align: justify;
    padding:20px;
}